*{
    margin:0 ;
    box-sizing: border-box;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
}

.icono{
    margin: 5px;
}

nav{
    width: auto;
    margin: 20px;                                   
}

a{
    text-decoration: none;
}

.seccion-1{
    margin-left: 100px;
    width: 800px;
    text-align: center;
}

h1{
    margin-top: 10px;
    text-align: center;
}

.seccion-1 p{
    text-wrap: balance;
}

