*{
    margin:0 ;
    box-sizing: border-box;
}

.header-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
}

.icono{
    margin: 5px;
}

nav{
    width: auto;
    margin: 20px;                                   
}

a{
    text-decoration: none;
}