body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnFetch {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#btnFetch:hover {
    background-color: #0056b3;
}

#todos {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Tarjeta {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 27s0px;
}

.Tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Tarjeta h2 {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}

.Tarjeta p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.Tarjeta img{
    padding-top: 15px;
    width: 150px;
    height: 150px;
}